html {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.button {
  height: 40px;
  width : 40px;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: 2px solid #89e1b5;
  font-size: 1.3rem;
}

.button:hover {
  border: 2px solid black;
}

.type {
  padding: 10px;
}

.type input {
  height: 28px;
  border-radius: 5px;
}

.box {
  height: 300px;
  width: 200px;
  background-color: #d1d1d1;
  border: 3px solid #4d4c4c;
  border-radius: 10px;
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
}